body {
  margin: 30px;
  font-family: "poppins", sans-serif;
}

.form-inline {
  display: block;
  margin: 0 auto;
}

h1 {
  color: #415b90;
}
h2 {
  line-height: 50px;
  color: #497285;
  font-size: 40px;
}
h3 {
  line-height: 50px;
}
h4 {
  font-size: 50px;
  color: #415b90;
}

.weather {
  color: #497285;
  background-color: #dfebed;
  text-align: center;
  border: 1.5px solid #497285;
  padding: 25px;
  max-width: 600px;
  margin-top: 30px;
  margin: 0 auto;
  border-radius: 10px;
}

.list {
  line-height: 40px;
  font-size: 25px;
  color: #497285;
}

#conditions {
  line-height: 40px;
  font-size: 25px;
  color: #497285;
}

.degree {
  line-height: 50px;
  color: #497285;
  font-size: 30px;
  text-decoration: none;
}

#temp {
  line-height: 50px;
  color: #497285;
  font-size: 45px;
}
.date {
  line-height: 50px;
  color: #497285;
  font-size: 25px;
}

.active {
  color: #415b90;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: #415b90;
}

.wind {
  line-height: 40px;
  font-size: 25px;
  color: #497285;
}

#celsius {
  color: #497285;
}
