body {
  margin: 15px;
  font-family: "poppins", sans-serif;
}

h2 {
  line-height: 50px;
  color: #497285;
  font-size: 40px;
}

.weather {
  color: #497285;
  background-color: #dfebed;
  text-align: center;
  border: 1.5px solid #497285;
  padding: 25px;
  max-width: 600px;
  margin-top: 30px;
  margin: 0 auto;
  border-radius: 10px;
}

.list {
  line-height: 30px;
  font-size: 25px;
  color: #497285;
}

#conditions {
  line-height: 40px;
  font-size: 25px;
  color: #497285;
}

.degree {
  line-height: 50px;
  color: #497285;
  font-size: 30px;
}

#temp {
  line-height: 50px;
  color: #497285;
  font-size: 45px;
}
.date {
  line-height: 50px;
  color: #497285;
  font-size: 25px;
}

.wind {
  line-height: 40px;
  font-size: 25px;
  color: #497285;
}

#celsius {
  color: #497285;
}

#forecast-icon {
  max-width: 70px;
}
