body {
  margin: 30px;
  font-family: "poppins", sans-serif;
}

form {
  padding: 20px;
}

h1 {
  color: #415b90;
}
h2 {
  line-height: 50px;
  color: #415b90;
  font-size: 40px;
}
h3 {
  line-height: 50px;
}
h4 {
  font-size: 50px;
  color: #415b90;
}

.weather {
  text-align: center;
  border: 1px solid #a5e9db;
  padding: 25px;
  max-width: 600px;
  margin-top: 30px;
  margin: 0 auto;
  border-radius: 10px;
}

.list {
  line-height: 40px;
  font-size: 25px;
  color: #415b90;
}

.sun {
  color: #f8ed86;
}

.rain {
  color: #2ca4bf;
}

.snow {
  color: #a5e9db;
}

.cloud {
  color: #f8ed86;
}

#conditions {
  line-height: 40px;
  font-size: 25px;
  color: #415b90;
}

.degree {
  line-height: 50px;
  color: #415b90;
  font-size: 30px;
  text-decoration: none;
}

#temp {
  line-height: 50px;
  color: #415b90;
  font-size: 40px;
}
.date {
  line-height: 50px;
  color: #415b90;
  font-size: 25px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}
